* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    color: darkslategrey;
}

header {
    padding: 20px 35px;
    background-color: lightslategray;
    display: flexbox;
}
header h1 {
    font-weight: bold;
    font-size: larger;
    color: whitesmoke;
    margin: 0;
    display: inline;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    float: right;
    font-weight: lighter;
    font-size: smaller;
    text-decoration: none;
    color: whitesmoke;
}