* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    color: darkslategrey;
    background-color: rgb(188, 195, 202);
}

/* Navigation */
header {
    padding: 20px 35px;
    background-color: lightslategray;
    display: flexbox;
}
header h1 {
    font-weight: bold;
    font-size: larger;
    color: whitesmoke;
    margin: 0;
    display: inline;
   position: relative;
   text-align: center;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    align-content: center;
    float: right;
    font-weight: lighter;
    font-size: smaller;
    text-decoration: none;
    color: whitesmoke;
}
/* Main Content Sections */

/*Containers for sections about me, work and contact me */
.section_box {
    margin: 20px 20px 20px 20px;
}

/* Titles of each section */

.section_title h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    /*add border*/
}
       
/* Content of each section */
.content_box {
    text-align: right;
    position: relative;
}

/*add highlighted work design */
/*add other projects design*/

/* Contact Me Section */
.content_box ul {
    list-style: none;
}